 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 90%;
            margin: 20px auto;
            padding: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            padding: 10px 0;
        }
        .compare-section {
            display: flex;
            justify-content: space-between;
        }
        .item {
            width: 45%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }
        .item img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-bottom: 10px;
        }
        .item h2 {
            text-align: center;
            font-size: 1.5em;
            margin: 10px 0;
        }
        .description {
            text-align: justify;
        }
        .comparison-table {
            margin-top: 20px;
            width: 100%;
            border-collapse: collapse;
        }
        .comparison-table th,
        .comparison-table td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }
        .comparison-table th {
            background-color: #f2f2f2;
        }