.login-button {
    background-color: darkolivegreen;
    color: aliceblue;
    font-size: 15;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.login-button:hover {
    background-color: darkseagreen;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link:active {
    color: #000;
}


@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: darkolivegreen;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.navbar-brand {
    font-weight: 500;
    color: darkolivegreen;
    font-size: 24px;
    transition: 0.3s color;
}

.hero-section {
    background-color: #5e5e5f;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before {
    background-color: #928e8e;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.carousel {
    position: relative;
}

.hero-section {
    height: calc(100vh - 56px); /* Full viewport height minus navbar height */
    display: fill;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 100%, 98%); /* Optional background color for contrast */
}

body {
    padding-top: 56px; /* Adjust based on the height of the navbar */
}

.hero-section {
    height: calc(100vh - 56px); /* Full viewport height minus navbar height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000; /* Optional background color for contrast */
}

.carousel-inner img {
    object-fit: cover;
    height: 100%;
}

.carousel {
    height: 100%;
}

.carousel-item {
    height: 100%;
}